<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>This is our regester page</h2>
        <form action="/regester" method="post">
            <div>
                <label for="fName">Full Name</label>
                <input type="text" id="fName" name="fName">
            </div>
            <div>
                <label for="age">Age</label>
                <input type="text" id="age" name="age">
            </div>
            <button type="submit">Regester</button>
        </form>
    </div>
</body>
</html>